<section class="ids-monitor-root">
  <div class="ids-title" data-live-roll>
    <div class="ids-title__default" data-live-roll-default>
      <p class="ids-eyebrow">Indy Dice Stats</p>
      <h1>Luck Ledger</h1>
      <p class="ids-subtitle">Track roll distributions by player, action, and die type.</br></br>Double click to open stats.</p>
    </div>
    <div class="ids-title__live" data-live-roll-live hidden>
      <p class="ids-eyebrow">Latest Roll <span class="ids-live-roll-privacy" data-live-roll-privacy></span></p>
      <h1 class="ids-roll-user" data-live-roll-user>Awaiting Rolls</h1>
      <p class="ids-roll-actor" data-live-roll-actor hidden></p>
      <p class="ids-subtitle ids-roll-details" data-live-roll-details>Listening for rolls...</p>
    </div>
  </div>
</section>
